@model SignalRServer.Models.DB.TaskEmployee
@{
  var employee = Model.Employee;
}
<div class="bg-primary m-1 p-1 text-white"><h4>Користувач: @employee.Name. Створення нової задачі.</h4></div>
<div asp-validation-summary=" All" class="text-danger"></div>
<form asp-action="CreateTask" asp-data- method="post">
	<div class="form-group">
		<input type="hidden" asp-for="IdEmployee" value="@employee.EmployeeId" class="form-control" />
	
		<label asp-for="Name"></label>
		<input asp-for="Name" class="form-control" />
	</div>
	
	<button type="submit" class="btn btn-primary">Create</button>
	<a asp-action="Tasks" class="btn btn-secondary">Cancel</a>
</form>
