@model SignalRServer.Models.DB.Employee

<div class="bg-primary m-1 p-1"><h4>Edit Employee</h4></div>

<div asp-validation-summary="All" class="text-danger"></div>

<form asp-action="Edit" method="post">
    <div class="form-group">
        <label asp-for="EmployeeId"></label>
        <input asp-for="EmployeeId" class="form-control" disabled />
    </div>
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
    </div>
    @*<div class="form-group">
        <label for="password">Password</label>
        <input name="password" class="form-control" />
    </div>*@
    <button type="submit" class="btn btn-primary">Save</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>
